camelsloth/__pycache__/__init__.cpython-312.pyc
camelsloth/__pycache__/config_parser.cpython-312.pyc
camelsloth/__pycache__/data_generation.cpython-312.pyc
camelsloth/__pycache__/main.cpython-312.pyc
camelsloth.egg-info/dependency_links.txt
camelsloth.egg-info/PKG-INFO
camelsloth.egg-info/requires.txt
camelsloth.egg-info/SOURCES.txt
camelsloth.egg-info/top_level.txt
